<div class="panel panel-default">
	  <div class="panel-heading">
			<h3 class="panel-title">New Meeting</h3>
	  </div>
	  <div class="panel-body">
			<%= form_for @meeting, layout: :basic, :url => {:action => "create"} do |f| %>
				<%= render :partial => "form", :locals => {:f => f} %>
			<% end %>
	  </div>
</div>