<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Employees</div>
		<div class="panel-body">
			<div class="pull-right">
				<%= link_to "New Employee", {:action => "new"}, :class => "btn btn-success" %>
			</div>
		</div>

		<%= generate_model_table @employees do |table|  %>
			<% table.display_columns :id, :first_name, :last_name, :job_title %>
			<% table.add_action :label => "Edit", :action => {:method => "edit", :param => "id"} %>
			<% table.add_action :label => "Show", :action => {:method => "show", :param => "id"} %>
		<% end %>
</div>