<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">Calls</div>
		<div class="panel-body">
			<div class="pull-right">
        <%= link_to "New Call", {:action => "new"}, :class => "btn btn-success" %>
			</div>
		</div>
		<%= generate_model_table @calls do |t| %>
			<% t.display_columns :id, :title, :duration_hour, :call_date, :direction %>
			<% t.add_action :label => "Details", :action => {:method => "show", :param => "id"} %>
		<% end %>
</div>
