<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Contacts</h3>
	  </div>
	  <div class="panel-body">
	  	<%= generate_model_table @contacts do |t| %>
	  		<% t.display_columns :name, :work_phone, :cell_phone, :do_not_call, :assistant, :assistant_phone %>
	  		<% t.add_action :label => "Details", :action => {:method => "show", :param => "id"} %>
	  		<% t.add_action :label => "Edit", :action => {:method => "show", :param => "id"} %>
	  	<% end %>
	  </div>
</div>