<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<%= submit_tag("Save", :class => "btn btn-success") %>
		<%= link_to("Cancel", {:action => "index"}, :class => "btn btn-danger") %>
	</div>
</div>
