<table class="table table-hover">
	<thead>
		<tr>
			<% attributes.each do |attribute| %>
				<th><%= generate_label attribute %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% model_array.each do |object| %>
			<tr>
				<% attributes.each do |attribute| %>
					<td><%= object[attribute] %></td>
				<% end %>
				<td>
					<% actions.each do |item_action| %>
					<%= link_to item_action[:label], {:action => item_action[:action][:method], item_action[:action][:param] => object.send(item_action[:action][:param]) } %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
