<div class="panel panel-success">
	  <div class="panel-heading">
			<h3 class="panel-title">New Product</h3>
	  </div>
	  <div class="panel-body">
			<%= form_for @product, layout: :horizontal, :url => {:action => "update"} do |f| %>
				<%= render :partial => "form", :locals => {:f => f} %>
			<% end %>
	  </div>
</div>