<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">Accounts</div>
		<div class="panel-body">
			<p class='pull-right'><%= link_to("New Account", {:action => "new"}, :class => "btn btn-success") %></p>
		</div>

		<%= generate_model_table @accounts do |table| %>
				<% table.display_columns :id, :name, :industry, :phone, :rating %>
				<% table.add_action :label => "Edit", :action => {:method => "edit", :param => "id"} %>
				<% table.add_action :label => "Show", :action => {:method => "show", :param => "id"} %>
		<% end %>
</div>
